* {
    padding: 0;   
    margin-bottom: 10px;
    box-sizing: border-box;   
}

body{
    background-color: crimson;
    color: white;
}

h1{
    margin-left: 110px;
    /* border-color: coral; */
}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.container>label {
    text-align: center; 
    font-size: 22px;
    text-decoration: underline;
}

#comment {
    /* background-color: cornflowerblue; */
    background-color: whitesmoke;
    height: 80px;
    width: 350px;
    margin: 5px 0 8px 5px; 
    padding: 5px;
    border-radius: 15px; 
    font-size: 16px;   
}

#addComments {
    width: 70px;
    height: 30px;
    padding: 5px;
    background-color:blueviolet;
    color: white;
    margin-left: 140px;
    border-radius: 10px;
    font-size: 17px;
}

.wrapper>button {
    margin-right: 5px;
    padding: 5px;
    background-color:blueviolet;
    color: white;
    border-radius: 5px;
    min-height: 10px;
    min-width: 50px;
}

#allComments{
    font-size: 20px;
}
.wrapper>textarea {
    background-color:rgb(255, 133, 105);
    height: 50px;
    width: 200px;
    margin: 5px 0 8px 5px; 
    padding: 5px;
    border-radius: 15px; 
    font-size: 15px;   
}